@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/css/styles.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
   
</head>
<body>
    <div class="menu">
        <ul>
            <li> <a style="text-decoration: none;" href="/Home/home"><b>Home</b></a> </li>
            <li> <a style="cursor: pointer; text-decoration: none;" id="newFolder"><b>Create Folder</b></a> </li>
            <li>
                <label style="cursor:pointer;">
                    <input style="display:none" type="file" id="myFile" />
                    Upload File
                </label>
            </li>
            <li> <a style="cursor: pointer; text-decoration: none;" id="downloadMeta" ><b>Download Meta as PDF</b></a> </li>
            <li> <a style="text-decoration: none;" href="/User/Logout"><b>Logout</b></a> </li>
        </ul>
    </div>
    <div id="overlay" class="overlay">
    </div>
    <h1 class="mid"> Welcome @Session["user"]</h1>
    <span style="color:red">@TempData["Message"]</span><br />
    <div>
        @RenderBody()
    </div>
</body>
</html>
